<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                      <h4>
                                        <%= @ticket.title %>
                                      </h4>
                                        <p>
                                            <%= @ticket.content %>
                                        </p>
                                    </div>
                                    <div class="col-lg-4">
                                        <i class="fa fa-clock-o text-info">
                                            <span>
                                                <%= time_ago_in_words @ticket.created_at %>
                                            </span>
                                        </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <% @comments.each do |c| %>
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p>
                                              <i class="fa fa-comments"></i><%= "#{member_tittle(c.author)}" %> <%= c.content %>
                                            </p>
                                        </div>
                                        <div class="col-lg-4">
                                            <i class="fa fa-clock-o text-info">
                                                <span>
                                                    <%= time_ago_in_words c.created_at %>
                                                </span>
                                            </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% end %>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <%= simple_form_for @comment, url: ticket_comments_path(@ticket.id) do |f|%>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>
                                        "Reply"
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                            <span>
                                                <%= f.input :content, label: false,  input_html: { rows: 12 } %>
                                            </span>
                                            <hr class="split">
                                            <%= f.button :wrapped %>
                                    </div>
                                </div>
                            </div>
                      <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% content_for :guide_title do  %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>
        <i class="fa fa-comments"></i> Your Ticket
      </h3>
      <span class="pull-right">
        <%= link_to t("private.tickets.close"), close_ticket_path(@ticket), method: :patch, confirm: t("private.tickets.close_confirm"), class: "btn btn-default" %>
        <%= link_to t("back"), tickets_path, class: "btn btn-default" %>
      </span>
    </div>
  <% end %>
  <% content_for :guide do %>
  <div class="panel-body">
    <ul class="list-group" style="list-style: none;">
      <li class="list-item">
        Wait for at least 24 hours after posting a Ticket
      </li>
      <li class="list-item">
        Withdrawals are processed manually, they can take time
      </li>
      <li class="list-item">
        Describe your problem, in short and concise wordings
      </li>
      <li class="list-item">
        <p class="text-warning">
          We try our best to resolve problems as soon as possible, so kindly have patience.
        </p>
      </li>
    </ul>
  </div>
  </div>
<% end %>