
<nav class="navbar navbar-expand-lg navbar-light fixed-top" role="navigation">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="<%= root_path %>">beryXchange</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
            <li class="nav-item"><%= top_nav_link(t('header.market'), market_path(current_market.id), 'exchange', target: true) %></li>
            <li class="nav-item"><%= top_nav_link(t('header.funds'), funds_path, 'money', controllers: ['funds']) if current_user %></li>
            <li class="nav-item"><%= top_nav_link(t('header.assets'), exchange_assets_path, 'bar-chart-o') %></li>
            <li class="nav-item"><%= top_nav_link(t('header.history'), order_history_path, 'book', controllers: ['history']) if current_user %></li>
            <li class="nav-item"><%= render partial: 'shared/header_account_balance' if current_user && controller_name == 'markets' %></li>
           
            <li class="nav-item"><%= render partial: 'shared/header_profile_setting' if current_user %></li>
            <li class="nav-item"><%= top_nav_link(t('header.signin'), signin_path, '') unless current_user %></li>
            <li class="nav-item"><%= top_nav_link(t('header.signup'), signup_path, '') unless current_user %></li>
            <li class="nav-item"><%= render partial: 'shared/header_lang_sel' %></li>
      </ul>
    </div>
  </div>
</nav>
